/* Your button CSS file */

.btn-medium {
  background: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 40px;
  border: 1px solid rgb(150, 150, 150);
  font-weight: 400;
  color: rgb(150, 150, 150);
}

.btn-medium:hover {
  background: white;
  opacity: 0.6;
}

.btn-treehouse {
  background: #ff33f3;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 400;
  color: white;
  height: 30px;
  width: 60px;
}

.btn-treehouse:hover {
  opacity: 0.6;
}

.btn-yours {
  background-color: rgba(255, 80, 53, 0.901961);
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/553f831feb855b6a5f0e42a8/5853beacc62327483d8324b7_mouse%205.svg), url(https://daks2k3a4ib2z.cloudfront.net/553f831feb855b6a5f0e42a8/5853beac5b991c28512ad40b_mouse1.svg);
  background-position: 20px -12px, 20px 4px;
  background-repeat: no-repeat;
  background-size: 22px, 22px;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: auto;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: 64px;
  line-height: 24px;
  padding: 20px 30px 20px 60px;
  text-align: left;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.270588) 0px 1px 0px;
  text-size-adjust: 100%;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  transition: color 200ms ease, background-color 200ms ease, opacity 200ms ease, background-position 200ms ease, transform 50ms ease, -webkit-transform 50ms ease;
-webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Chrome/Safari/Opera */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */
}

.btn-yours:hover {
  background-color: #27ae60;
  background-position: 20px 9px, 20px 11px;
  color: #fff;
  text-decoration: none;
}
