/* Your card CSS file */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.card {
    margin-top: 15px;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.card-category {
    width: 500px;
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card:hover {

  background-color: #42deb8;
}

.card-category > h1 {
  font-size: 25px;
}

.card-product {
    margin-top: 16px;
    width: 500px;
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.card-product > img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.card-trip {
    margin-top: 16px;
    width: 500px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
}

.card-trip > img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    object-fit: cover;
    margin-right: 20px;
}

.card-product-info {
  padding: 16px;
}

.card-product-info > h1 {
  font-size: 16px;
}

.card-product-info > p {
  font-size: 12px;
}

.card-product-info-with-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 17px;
}

.avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  bottom: 71px;
  right: 30px;
}
